@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900;1000&display=swap');

body{
    height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-family: Cairo;
}

.aviso{
    background-color: Efff;
    width: 22rem;
    padding: 1rem 0;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    flex-direction: column;
    & .tituloAviso{
        display: flex;
        font-weight: 500;
        color: #5a5a5a;
        flex-direction: column;
        align-items: center;
        & h1 {
            margin: 0;
        }
        & h2 {
            margin: 1rem 0;
        }
    }
    & form{
        width: 80%;
        margin: 0 2rem;
            & img{
                position: absolute;
                opacity: .70;
                right: 1rem;
                top: 53%;
                height: 1.5rem;
                width: 1.5rem;
            }
        }
        & .btnAviso{
            font-weight: 600;
            font-size: 1.5rem;
            color: #fff;
            border: none;
            border-radius: .5rem;
            background: #f84639;
            transition: all 0.2s ease;
            width: 100%;
            height: 3rem;
            cursor: pointer;
            &:hover {
                background: #0f7e3f; 
            }
        } 
    & .imagemAviso{
        display: none;
        & figure{
            margin: 0;
        }
    }
    & .containerFigure{
        width: 100%;
    }
}

@media (min-width: 640px) {

}

@media (min-width: 1024px) {
    .aviso{
        width: 50rem;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        & form{
            margin: 0;
            margin-left: 3rem;
        }
        & .imagemAviso{
            display: block;
            & figure, figure img{
                height: 20rem;
                width: 25rem;
            }
        }
    }
}