@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900;1000&display=swap');

body{
  margin: 0;
  font-family: Cairo;
  display: flex;
}
.containerSite{
  width: 100%;
  & header{
    height: 3rem;
    width: 100%;
    background: white;
    animation: .3s ease-out;
    border-bottom: .2rem solid orangered;
    & figure{
      margin: 0;
      & .logo{
          cursor: pointer;
          height: 2rem;
      }
    
    }
  }
  & .conteudoSite{
    width: 100%;
  }
}
.menuClose{
  width: 0rem !important;
}

.menu{
  width: 20rem;
  overflow: hidden;
  height: 100vh;
  background-color: rgb(255, 170, 139);
  transition: all 0.5s ease-out;
  & .closeIcon {
    width: 95%;
    margin-top: .5rem;
    display: flex;
    justify-content: flex-end;
   & img {
      cursor: pointer;
      height: 2rem;
      transition: all 0.5s ease-out;
   }
   & img:hover{
    opacity: .75;
   }
  }
    
  .containerItems{
    & ul{ 
      list-style-type: none;
      margin: 0;
      padding: 0;
      & li{
        cursor: pointer;
        margin: .5rem 0;
        height: 3rem;
        font-weight: 600;
        color: #fff;
        background-color: rgb(252, 130, 86);
        display: flex;
        align-items: center;
        padding-left: 1rem;
        transition: all 0.5s ease-out;
        &:hover{
          padding-left: 5rem;
          background-color: rgb(255, 113, 61);
        }
        & p{
          margin: 0;
        }
      }
    }
  }
}

@media (min-width: 640px) {

}

@media (min-width: 1024px) {
  .menuClose{
    width: 20rem !important;
  }

  .menu{
    padding-top: 2.5rem;

    & .closeIcon {
      display: none; 
    }
  }
  .containerSite{
    & header{
      & figure{
        & .logo{
          cursor: default;
        }
      }
    }
  }
}